streamlit
fastapi
uvicorn
python-multipart
python-dotenv
httpx
pydantic

langchain
langchain-community
langchain-openai
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-text-splitters

openai
groq
google-generativeai

faiss-cpu
pypdf